variables:
  DWDSWB_DATASET_VERSION: "2025.12.05"
  DWDSWB_DATASET_URL: "${CI_API_V4_URL}/projects/21452/packages/generic/dwdswb/${DWDSWB_DATASET_VERSION}/dwdswb.xml.gz"
  TWINE_REPO: "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi"
  TWINE_USERNAME: "gitlab-ci-token"
  TWINE_PASSWORD: "${CI_JOB_TOKEN}"

release:
  stage: deploy
  image: nvidia/cuda:12.9.1-runtime-ubuntu24.04
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - apt-get update && apt-get install -y python3 python3-venv python3-pip python3-dev
    - python3 -m venv .venv && source .venv/bin/activate && pip install .
    - python -m spacy_models.build
  tags:
    - zdl
    - build
    - gpu
  release:
    tag_name: "$CI_COMMIT_TAG"
    description: "$CI_COMMIT_TAG"
