[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
de-core-news-lg = {file = "https://github.com/explosion/spacy-models/releases/download/de_core_news_lg-3.7.0/de_core_news_lg-3.7.0-py3-none-any.whl"}
spacy = {extras = ["transformers", "cuda117"], version = "*"}
spacy-huggingface-hub = "*"

[dev-packages]

[requires]
python_version = "3.10"
